<div class="row">
  <div class="large-3 columns">Name:</div>
  <div class="large-9 columns"><%= form.text_field :name %></div>
</div>

<div class="row">
  <div class="large-3 columns">Path to Rails root:</div>
  <div class="large-9 columns"><%= form.text_field :path_to_rails_root %></div>
</div>