<div class="row save-btn">
  <div class="large-12 columns">
    <%= link_to "Create New Project", new_project_path, class: "button" %>
  </div>
</div>

<h3>Projects</h3>

<%= render :partial => @projects %>
