<h3 style="text-align:center">New Project</h3>

<%= form_for @project do |f| %>
  <%= render f %>
  
  <div class="row save-btn">
    <div class="large-12 columns">
      <%= f.submit "Create", class: "button" %>
    </div>
  </div>
<% end %>
