/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation/normalize
 *= require foundation/foundation
 *= require_self
 *= require_tree .
 */

.login-form-container {
	width:70%;
	margin:10px auto;
}

.login-form-container .left-column {
	width:45%;
	float:left;
	padding-left:20px;
}

.login-form-container .right-column {
	width:45%;
	float:left;
	text-align: center;
}